body {
    margin: 0%;
    padding: 0%;
}

.card {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 5px 0px 0px rgb(153, 153, 153);;
}

.barre-deco {
    margin-left: 12.6%;
    margin-right: 76%; 
    height: 1px;
}




.form-check {
    margin-left: 13%;
}

.form-check-label {
    font-weight: bold;
}

.etoile {
    color: #F01616;
}

.bouton-suivant {
    display: block;
    width: 5%;
    margin-left: 46.5%;
    padding: 0.2%;
    border: 1px solid black;
    border-radius: 8px 8px;
    margin-bottom: 50px;
    box-shadow: 2px 4px 0px 0px rgb(153, 153, 153);
}




@media all and (min-width: 768px) and (max-width: 1024px) {
    .bouton-suivant {
        width: 15%!important;
        margin-left: 40%!important;
    }

}

@media all and (max-width: 1024px) {
    .bouton-suivant {
        margin-left: 37%;
        width: 30%;
        margin-bottom: 25px;
        margin-top: 10px;
    }

}