body {
    padding: 0!important;
    margin: 0!important;
}

.fond {
    background-color: rgb(233, 233, 233);
}

.logo {
    width: 16%;
}

h1 {
    text-shadow: 4px 4px 8px rgba(110, 110, 110, 0.938);
}

h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
    color: rgb(248, 68, 68) !important;
 }

.bouton-cloture {
    margin-top: 30px;
    box-shadow: 2px 4px 4px black;
}

.entete-table {
    background-color: rgb(233, 21, 21)!important;
    color: rgb(207, 207, 207) !important;
    text-shadow: 2px 2px 4px black;
}

.liste-formation {
    background-color: rgb(216, 216, 216);
}


.coloneLien {
    padding-left: 50px!important;
}

.btn-warning {
    margin-right: 26px;
}

.bouton-ajout {
    margin-left: 80px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.705);
}

.bouton-phase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.boutonPhase {
    margin-left: 20px;
    background-color: rgb(253, 60, 60) !important;
    color: white !important;
    border: 1px black !important;
    box-shadow: 2px 4px 4px black;
}

.boutonPhase:hover {
    background-color: rgb(177, 0, 0) !important;
}

.zone-texte {
    margin-left: 110px;
}