body {
    padding: 0!important;
    margin: 0!important;
}

.logo {
    width: 16%;
}

.bouton-cloture {
    margin-top: 30px;
    box-shadow: 2px 4px 4px black;
}

.entete-table {
    background-color: rgb(233, 21, 21)!important;
}

.liste-formation {
    background-color: rgb(216, 216, 216);
}


.coloneLien {
    padding-right: 0px!important;
}

.bouton-ajout {
    margin-left: 80px;
}

.bouton-phase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.boutonPhase {
    margin-left: 20px;
    background-color: rgb(253, 60, 60) !important;
    color: white !important;
    border: 1px black !important;
    box-shadow: 2px 4px 4px black;
}

.boutonPhase:hover {
    background-color: rgb(177, 0, 0) !important;
}

.zone-texte {
    margin-left: 110px;
}