body {
    margin: 0;
    padding: 0;
    
}

.footer {
    background-color: #f5f5f5!important;
}

.liens {
    margin-left: 16px;
    margin-right: auto;
}


.liens a {
    font-weight: bold;
    font-size: 22px;
    color: #A09494;
    margin-bottom: 0px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}

.liens a:hover{
    color: rgb(255, 0, 0);
}

.barre {
    
    font-size: 30px;
    color: #A09494;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-footer {
    height: 30px!important;
}

.réseaux {
    font-size: 40px;
}

.texte-reseaux {
    font-weight: bold;
    font-size: 19px;
    margin-top: 6px;
}

.facebook{
    color: #3B5998;
}

.twitter {
    color: #00ACEE;
}


.lien-fac {
    margin-right: 50px;
}


.far {
    font-size: 22px;
    margin-right: 10px!important;
}

.lettre {
    font-size: 20px;
}

.copy {
    font-weight: bold!important;
    font-size: 14px;
}