html, body {
    margin: 0;
    padding: 0;
}


.titre-accueil {
    background-color: white!important;
    position: relative;
    z-index: 1;
    width: 25%;
    font-size: 90px;
    margin-top: -8%;
    padding: 2%;
    margin-left: -1%;
}


.image {
    width: 100%;
    z-index: 3;
}

.texte1 {
    margin-top: 6%;
}

.texte2 {
    margin-top: 2%;
}

.texte {
    font-weight: bold;
    font-size: 24px;
}

.mot-couleur {
    color: #FA1919;
}

.titre-formation {
    width: 14%;
    margin-left: 44%;
    margin-top: 3%;
    padding: 1%;
    font-weight: bold;
    font-size: 40px;
    background-color: #FA1919;
    color: white;
}

.formation {
    margin-left: 9%;
    width: 80%;
    height: 480px;
    margin-bottom: 5%!important;
    margin-top: 5%;
}

.parallax {
    min-height: 500px;
    background: transparent;
}

.cadre {
    display: flex;
    
}

.btn {
    color: white!important;
    margin-top: 50px;
}

.btn:hover {
    background-color: rgb(190, 21, 21)!important;
}

.titre-card  {
    font-size: 40px;
    background-color: #333333;
    color: white;
    width: 70%;
    padding: 4%;
    margin-left: 16%;
    margin-bottom: 50px!important;
}

.card-text {
    font-weight: bold;
    font-size: 17px;
}

.droite {
    margin-top: 220px;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    
    .titre-card {
        margin-left: -50%!important;
        width: 100%;
    }

    .card-text {
        margin-left: -50%!important; 
    }

    .btn {
        margin-left: -50%!important; 
    }
}

@media all and (max-width: 1024px)
{
    .formation {
        height: auto;
        margin-bottom: 100px!important;
    }

    .titre-accueil {
        width: auto;
        font-size: 40px;
        text-align: center;
    }

    .titre-formation {
        width: auto;
        margin-left: 0%;
        font-size: 26px;
    }

    .titre-card {
        width: auto;
        font-size: 24px;
        margin-right: 20px;
        margin-left: 8%;
    }

    .droite {
        margin-top: auto;
    }

    .cadre {
        flex-direction: column;
    }

    .parallax {
        display: none;
    }

    .card-img {
        display: none;
    }
}