body {
    margin: 0;
    padding: 0;
}

.texte1 {
    margin-top: 6%;
}

.texte2 {
    margin-top: 2%;
}

.texte {
    font-weight: bold;
    font-size: 20px;
}

.mot-couleur {
    color: #FA1919;
}

.titre-formation {
    width: 11%;
    margin-left: 44%;
    margin-top: 3%;
    padding: 1%;
    font-weight: bold;
    font-size: 30px;
    background-color: #FA1919;
    color: white;
}

.formation {
    margin-left: 9%;
    width: 80%;
    height: 400px;
    margin-bottom: 5%!important;
    margin-top: 5%;
}

.parallax {
    min-height: 500px;
    background: transparent;
}

.cadre {
    display: flex;
    
}

.btn {
    color: white!important;
}
