body {
    margin: 0 !important;
    padding: 0 !important;
}

.logo {
    height: 50px!important;
}

nav {
    width: 100%!important;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.8;
}

.navbar-nav {
    
    width: 100%;
    padding-left: 66%!important;
}

.nav-item1, .nav-item, .nav-itemadmin {
    font-size: 14px;
}

.deconnexion {
    padding-top: 2%!important;
}

.nav-link{
    width: 100%;
    font-weight: bold;
}

.nav-link:hover {
    color: rgb(247, 66, 66)!important;
}

.nav-item1 {
    margin-right: 14%;
}

.nav-itemadmin {
    margin-left: 10px;
}

.icon {
    color: rgb(255, 0, 0);
    margin-right: 4%;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .nav  {
        width: auto;
    }

    .icon {
        margin-right: 2%;
    }
    
    
}

@media all and (max-width: 1024px) {
    .logo {
        width: 40%;
        height: 30px!important;
    }

    .navbar-nav {
        padding-left: 0%!important;
    }
}