
body {
    width: 100%;
    height:auto;
    margin: 0;
}

h1 {
    font-size: 45px!important;
   margin-top: 20px!important;
}

h2 .formulaire{
    font-size:26px;
}


h3 {
    font-size: 20px;    
}


.div_container {
    display: grid;
    grid-template-columns:repeat(48, 2fr);
    grid-auto-rows: minmax(20px, auto);
    text-align: center;
}






.div_titre_formation {
    grid-column:1/49;
    grid-row: 1/5;
    background-color: rgb(219, 9, 9);
    color: white;
    box-shadow: 10px 10px 10px 5px gray;
}
    

.div_formulaire {
    margin-top: 30px;
    padding-top: 10px;
    grid-column: 3/47;
    grid-row: 6/6;
    background-color:#514D4D;
    background-attachment: fixed;
    color:white;
    box-shadow: 10px 10px 10px  black;
}


.information_champs_inscription {
    grid-column:16/35;
    grid-row: 8/12;
    margin-bottom: 120px;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;

}

.blocFormulaire
{
    border: 2px solid red; 
    width: 90%;
    margin: auto;
    padding-bottom: 2%;
}

.etape2
{
    position: relative;
    top: -20px;
    margin-left: 200px;
    margin-bottom: 20px;
    width: 150px;
    background: white;
    z-index: 100;
}

input .form-control
{
    background-color: grey;
}

.background_image
{
grid-column: 1/49;
grid-row: 30/60;
background-attachment: fixed;
background-image:url(./image/background.png);
background-repeat: no-repeat;
}




label {
    padding: 0.7em 0.7em 0.7em 0.7em;
    background: rgb(219, 219, 225);
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px gray;
    text-align:center;
    height: 40px;
    

}


input {
    padding-bottom: 14px !important;
    margin-bottom: 8px !important;
    border: black;
    background: rgb(235, 235, 240);
    font-size: 20px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid black !important;
    box-shadow: 10px 5px 5px gray;
    cursor: pointer;
    width:100%;    
}

.entree
{
    height:40px !important;
    margin-left:-15px;
}

.asterisque
{
    color:red;
}

input:focus {
    outline:0;
}

input:hover {
    background:rgb(205, 199, 199);
    cursor: pointer blue;
    
}

.row-resize {
    cursor: row-resize;
}




.bouton-suivant {
    display: block;
    width: 8%;
    margin-left: 46.5%;
    padding: 0.2%;
    border: 1px solid black;
    border-radius: 8px 8px;
    box-shadow: 2px 4px 0px 0px rgb(153, 153, 153);
}

.bouton-suivant:hover {
    background-color: rgb(230, 230, 230)!important;
}



.containers {
    width: 100%;
    margin-left: auto!important;
    margin-top: 50px;
}
.progressbar {
     counter-reset: step;
     display: flex;
     margin-left: 250px;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 15%;
    position: relative;
    text-align: center;
}
.progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px; 
    border: 2px solid #ddd;
    display:block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 30px;
    background-color: white;

}
.progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child::after{
    content: none; 
}
.progressbar li.active {
    color: red;
}
.progressbar li.active::before {
    border-color: red;
}
.progressbar li.active + li::after {
    background-color: red;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .progressbar {
        margin-left: 70px!important;
    }

    .bouton-suivant {
        width: 12%;
    }
}

@media all and (max-width: 1024px) {
    .containers {
        width: auto;
        margin-left: 90px!important;
    }
}