
body
{
    background-color: white;
    margin: 0;
}
h1 {
    font-size:45px;
}
h2 .formulaire
{
    font-size:28px;
}
h3 
{
    font-size: 20px;    
}
.div_container {
    display: grid;
    grid-template-columns:repeat(48, 1fr);
    grid-auto-rows: minmax(27px, auto);
    text-align: center;
}

.div_titre_formation {
    grid-column:1/49;
    grid-row: 1/6;
    background-color: rgb(219, 9, 9);
    color: white;
    box-shadow: 10px 10px 10px 5px gray;
    margin-bottom: 30px;
}
.div_formulaire {
    grid-column: 3/47;
    grid-row: 7/9;
    background-color:#514D4D;
    color:white;
    box-shadow: 10px 10px 10px  black;
}

.cadre1
{
    grid-column: 6/43;
    grid-row: 11/34;
    box-shadow: 10px 10px 10px 5px gray;
    border-top: none;
    border: 1px solid gray;
    border-top: 5px solid red;
    border-radius: 5px 5px 5px 5px;
    padding:10px;
    font-size: 13px;   
     
}

h2.message_fin
{
    text-decoration:underline;
}

.lien-redirection {
    font-size: 20px!important;
    color: white;
}

.lien-redirection:hover {
    color: black;
}

.bouton-renvois {
    background-color: rgb(228, 11, 11)!important;
    box-shadow: 3px 3px 8px rgb(124, 124, 124);
}

.bouton-renvois:hover {
    background-color: rgba(192, 4, 4, 0.863)!important;
}

@media screen and (min-width: 200px) and (max-width:1000px)
{
    .cadre1
{
    padding: 10px;
    grid-column:1/49;
    grid-row: 7/30;
    background-color: rgb(236, 231, 231);
    border-top: 3px solid black;
}

.div_titre_formation
{
    grid-column:1/49;
    grid-row: 2/5;
    background-color: rgb(219, 9, 9);
    color: white;
    box-shadow: 10px 10px 10px 5px gray;
}

.div_formulaire {
    grid-column: 1/49;
    grid-row: 5/7;
    background-color:#514D4D;
    color:white;
}




}

.containers {
    width: 100%;
    margin-left: 280px!important;
    margin-top: 50px;
}
.progressbar {
     counter-reset: step;
     display: flex;
     margin-left: -186px;
     margin-bottom: 190px;
}
.progressbar li {
    list-style-type: none;
    float: left;
    width: 15%;
    position: relative;
    text-align: center;
}
.progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px; 
    border: 2px solid #ddd;
    display:block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 30px;
    background-color: white;

}
.progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child::after{
    content: none; 
}
.progressbar li.active {
    color: red;
}
.progressbar li.active::before {
    border-color: red;
}
.progressbar li.active + li::after {
    background-color: red;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .progressbar {
        margin-left: 70px!important;
    }

    .pied-de-page {
        padding-top: 198px!important;
    }
}

@media all and (max-width: 1024px) {
    .containers {
        width: auto;
        margin-left: 90px!important;
    }

    .pied-de-page {
        padding-top: 670px!important;
    }
}